aws_region        = "eu-central-1"
aws_account_id = "123456789012"
project_name      = "some-project_name"
environment       = "shared"

github_oidc_subjects = [
  "repo:github-owner@OWNER_ID/repository-name@REPOSITORY_ID:ref:refs/heads/main",
  "repo:github-owner@OWNER_ID/repository-name@REPOSITORY_ID:pull_request"
]

terraform_state_bucket = "bucket-name"